{% extends 'base/base.html'%}
{% block content %}
<h4>{{ post.title }}</h4>
{{ post.body }}
<br>
<i>{{ post.tag }}</i>
<img src="{{ post.image }}">
<br>
<a href="{% url 'post' %}">Back</a>
{% endblock %}
<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
