{% extends 'base\base.html' %}
{% block content %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}<h1>{{ title }}</h1>{% endblock %}
<div class="post">
<span class="post-author">By <strong>
{% if item.author.profile.display_name %}
{{ item.author.profile.display_name }}
{% else %}
{{ item.author }}
{% endif %}
</strong></span>
    <span class="post-date">
        {{ items.post_date |date:"M d,Y"}}
    </span>
    <div class="post-description clearfix">
        {{items.description }}
    </div>
    {% if items.image %}
         <img class="post-image" src="{{ item.image_large.url }}">
    {% endif %}
    <div class="post-body">
        {{ items.body }}
        {% if item.tags %}
            <ul class="tags">
                {% for tag in item.tags.all %}
                    <li class="tags-tag">
                        <a class="tags-tag-a" href="{% url 'tag' tag.id %}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if items.tags %}
    <ul class="tags">
        {% for tag in items.tags.all %}
        <li class="tags-tag">
            <a class="tags-tag-a" href="{% url 'tag' tag.pk %}">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
